<h1>Time to Add a New Bar</h1>

<form method="post" action="/home">

  <ul>
    <li><label>Bar Name:
      <input type="text" name="name">
    </label></li>

    <li><label>Bar Location:
      <input type="text" name="location">
    </label></li>

    <li><label>Picture URL:
      <input type="url" name="picture">
    </label></li>

    <li><label>Text About Bar:
      <input type="text" name="text">
    </label></li>

    <li><label>Region:
      <select>
        <option value="UES" name="region">Upper East Side</option>
        <option value="UWS" name="region">Upper West Side</option>
        <option value="LES" name="region">Lower East Side</option>
        <option value="Midtown" name="region">Mid Town</option>
      </select>
    </label></li>

    <li><label>Author:
      <input type="text" name="author">
    </label></li>
  </ul>

  <input type="submit" value="Add Bar">

</form>
